__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log

.vscode/
.idea/

venv/
env/

.git
.gitignore

workflows/
*.yml
*.yaml

Dockerfile.beat
Dockerfile.worker

tests/
README_TESTS.md

*.csv
*.zip
*.tar
*.gz

*.env
.env*
secrets.*
