DATABASE_URL=YOUR_DATABASE_URL_HERE
ALEMBIC_DATABASE_URL=YOUR_ALEMBIC_DATABASE_URL_HERE
FERNET_KEY=YOUR_FERNET_KEY_HERE
REDIS_URL=YOUR_REDIS_URL_HERE
CELERY_BROKER_URL=YOUR_CELERY_BROKER_URL_HERE
CELERY_RESULT_BACKEND=YOUR_CELERY_RESULT_BACKEND_HERE
POSTGRES_DB=binance_trade_bot
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
REDIS_PASSWORD=your_redis_password
SECRET=YOUR_SECRET
BINANCE_TESTNET=true
ENVIRONMENT=development
SSL_MODE=false
