.env
/venv
__pycache__/
*.pyc

/*
!.gitignore
!/app/
!docker-compose.yml
!docker-compose.local.yml
!Dockerfile
!Dockerfile.beat
!Dockerfile.worker
!.dockerignore
!requirements.txt
!README.md
e
**/__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/
.venv/

.DS_Store
Thumbs.db