{% extends "base.html" %}
{% block title %}Список настроек пользователя{% endblock %}
{% block content %}
<h2>Список настроек пользователя</h2>
<a href="/user-settings/create/?user_id={{ user_id }}">Добавить настройки</a>
<table>
    <tr>
        <th>ID</th>
        <th>Депозит</th>
        <th>Плечо</th>
        <th>% входа</th>
        <th>Стратегия</th>
        <th></th>
    </tr>
    {% for item in settings %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.deposit }}</td>
        <td>{{ item.leverage }}</td>
        <td>{{ item.entry_pct }}</td>
        <td>{{ item.strategy_name }}</td>
        <td>
            <a href="/user-settings/{{ item.id }}">Подробнее</a> | 
            <a href="/user-settings/{{ item.id }}/edit/">Редактировать</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
