{% extends "base.html" %}
{% block title %}Список стратегий{% endblock %}
{% block content %}
<h2>Список стратегий</h2>
<a href="/strategy-config/create/">Добавить стратегию</a>
<table>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Описание</th>
        <th>Активна</th>
        <th>Параметры</th>
        <th></th>
    </tr>
    {% for item in configs %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.is_active }}</td>
        <td>
            <pre style="font-size:0.92em;">{{ item.parameters | tojson(indent=2) }}</pre>
        </td>
        <td>
            <a href="/strategy-config/{{ item.id }}">Подробнее</a> |
            <a href="/strategy-config/{{ item.id }}/edit/">Редактировать</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
